.sysWelcome {
  font-size: 50px;
  color: #592530;
  text-shadow: 3px 3px 8px black;
}

.btnActions {
  background-color: #592530;
  color: white;
  border-color: #592530 !important;
}

.btnActions:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #592530;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
}

tr td:nth-child(even) {
  background-color: #f7d7cc;
}

tr td:nth-child(odd) {
  background-color: #f9e0d0;
}

table thead tr th {
  background-color: #592530 !important;
  color: #fff;
  text-transform: uppercase;
}

.logout-btn-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user-btn {
  margin-left: auto;
}

li.paginate_button.page-item.active a{
  background-color: #592530;
  border: #592530;
}

.user-card, .dataTables_info {
  color: #241E19;
}