body {
  margin: 0;
  font-family: sans-serif;
}

.split-section {
  display: flex;
  height: 100vh;
}

.split-left {
  width: 40%;
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.split-left h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #FF4200;
  margin-bottom: 20px;
}

.split-left p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.split-left .field input[type="email"],
.split-left .field input[type="password"],
.split-left .field input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #828282;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.split-left .field .password_validation {
  text-align: center;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 0.8px;
  line-height: 12px;
}

.split-left .actions_devise button {
  width: 100%;
  height: 46px;
  margin: 5px 0px 20px 0px;
  background: linear-gradient(180deg, #FF4200 0%, rgba(255, 66, 0, 0.67) 100%);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.4px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.split-left .actions_devise button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #FF4200;
}

.split-left .forgot_password a,
.split-left .back_btn {
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #FF4200;
  padding-bottom: 4px;
  letter-spacing: 1.2px;
  line-height: 14px;
  border-bottom: 1px solid #FF4200;
}

.split-right {
  width: 60%;
  background-color: #FF4200;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-right .img {
  max-height: 80%;
  max-width: 100%;
  object-fit: contain;
}

.split-right h1 {
  color: #fff;
  font-size: 70px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.split-right span {
  color: black;
}

.password-toggle {
  position: relative;
}

.password-toggle .toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-100%);
  cursor: pointer;
  display: none;
}

.password-toggle input:valid + .toggle-icon {
  display: block;
}

@media (max-width: 992px) {
  .split-section {
    flex-direction: column;
    height: auto;
  }

  .split-left,
  .split-right {
    width: 100%;
    height: auto;
  }
}

/* Additional CSS for smaller screens */
@media (max-width: 576px) {
  .split-left .field input[type="email"],
  .split-left .field input[type="password"],
  .split-left .field input[type="text"] {
    font-size: 12px; /* Decrease font size for smaller screens */
    height: 40px; /* Adjust the height as needed */
  }
}