.flash-message {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  z-index: 1001;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
}

.success {
  color: #155724;
  background-color: #d4edda;
}

.default {
  background-color: #3498DB;
  color: #fff;
}