*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  background:#fff;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999 !important;
  box-shadow: 0 .5rem 1rem rgba(230, 230, 230, 0.253);
  background-color: #090C1B;
}

header .logo-1 {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

header p {
  font-size: 18px;
  color: white;
  font-weight: 700;
  margin: 2px 0 0 5px;
}

header  span{
  color: #FF4200;
}

header .navbar a { 
  text-decoration: none;
  font-size: 16px;
  padding:0 1.5rem;
  color: white;
}

header .navbar a:hover, .active { 
  color: #FF4200 !important;
}

header #toggler{
  display: none;
}

/* --- DROPDOWN ---  */

.dropdown {
  position: relative;
  margin-right: 10px;
}

.dropdown .color {
  background-color: #FF4200;
  color: white;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

/* --- DROPDOWN MENU --- */

.dropdown-menu {
  transform: translate3d(-71px, -3px, 0px);
  text-align: center;
}

.dropdown-menu a.dropdown-item {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-menu a.dropdown-item i {
  margin-right: 10px;
}

.dropdown-menu a.dropdown-item:hover {
  color: #fff !important;
  background: #FF4200;
  text-decoration: none;
}

/* --- HOME --- */


.home {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

.home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  margin-top: 10px;
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
  text-align: center;
  line-height: 30px;
}

.home h1:nth-child(1) {
  animation-delay: 1s;
}
.home h1:nth-child(2) {
  animation-delay: 2s;
}

.home h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #FF4200;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}

.home h1:nth-child(1) span {
  animation-delay: .5s;
}

.home h1:nth-child(2) span  {
  animation-delay: 1.5s;
}

.home .cta {
  text-decoration: none;
  display: inline-block;
  padding: 5px 30px;
  color: #FF4200; 
  background-color: transparent;
  border: 2px solid #FF4200;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 25px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.home .cta:hover{
  color: white;
  background-color: #FF4200;
}

/* --- ABOUT --- */

.about {
  margin-bottom: .5rem !important;
}

#about .about {
  flex-direction: column;
  text-align: center;
}

#about .about-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: .2rem;
  text-align: center;
}

#about .about-title span{
  color: #FF4200;
}

#about .about-top p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

#about .about-top {
  margin : 1rem;
}

#about .about-cta { 
  padding-bottom: 1rem;
  margin-top: 40px;
}

#about .about-item {
  padding:2rem 1rem 3rem 1rem;
  height: 250px;
  align-items: center;
  background-color: #FF4200;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, .50);
  backdrop-filter: blur(15px);
  cursor: pointer;
  margin-bottom: 10px;
}

#about .about-item:hover{
  background:rgb(255, 115, 0);
  border:.1rem solid rgba(0,0,0,.1);
  transform: translateY(-5px);
  transition: 0.4s ease-out;
}

#about img {
  height: 45px;
}

#about .about-item-body {
  margin-top: 10px;
  color: white;
  line-height: 18px;
  font-size: 13px !important;
}

#about .item-title {
  display: flex;
  flex-wrap: wrap;
}

#about .about-item h2 {
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
}

#about .about-item p {
  color: white;
  text-align: left;
  font-size: 24px !important;
  line-height: 1rem;
  margin-top: 12px !important;
}

.table>:not(caption)>*>* {
  color: #fff !important;
  background-color: transparent !important;
}

@media screen and (min-width: 1010px) and (max-width: 1190px) {
  #about .about-item p {
    font-size: 16px !important;
  }
  #about img {
    height: 35px;
  }
  #about .about-item-body {
    font-size: 11px !important;
  }
  
} 

/* ---FOOTER---- */

footer {
  background-color: #090C1B;
}

/* KEYGRAMES */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  } 
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}


/* ---RESET EMAIL---*/
body .reset-email {
  margin: 0;
  padding: 0;
  background-color: #f2f3f8;
}

.reset-button {
  display: inline-block;
  background-color: #FF4200;
  color: #fff;
  text-decoration: none !important;
  font-weight: 500;
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #FF6A36;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about {
    padding-top: 40px !important;
  }
}

/* --- OUR TEAM --- */

.dashed-border {
  border: 4px solid #b48e02 !important;
}

.dashed-border:hover {
  border: 4px solid #020710 !important;
}

.single_advisor_profile {
  position: relative;
  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border-radius: 15px;
}


.single_advisor_profile:hover {
  color: #ffffff;
  box-shadow: 20px 10px 15px rgba(26, 25, 25, 0.466);
}

.single_advisor_profile .advisor_thumb {
  position: relative;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  padding: 30px 0 0 0 !important;
  background-color:  #fdc13f;
  overflow: hidden;
  height: 250px;
}

.single_advisor_profile .advisor_thumb:hover {
  background-color:  #f8f8f8;
}
.single_advisor_profile .advisor_thumb::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 150%;
  height: 80px;
  bottom: -45px;
  left: -25%;
  content: "";
  background-color: #ffffff;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
@media only screen and (max-width: 575px) {
  .single_advisor_profile .advisor_thumb::after {
      height: 160px;
      bottom: -90px;
  }
}
.single_advisor_profile .advisor_thumb .social-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 30px;
  text-align: right;
}
.single_advisor_profile .advisor_thumb .social-info a {
  font-size: 24px;
  color: #020710;
  padding: 0 5px;
}
.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
  color:  #fdc13f;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
  padding-right: 0;
}
.single_advisor_profile .single_advisor_details_info {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: #ffffff;
  font-size: 12px;
}
.single_advisor_profile .single_advisor_details_info::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 3px;
  background-color: #fdc13f;
  content: "";
  top: 12px;
  right: 20px;
}
.single_advisor_profile .single_advisor_details_info h6 {
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info h6 {
      font-size: 14px;
  }
}
.single_advisor_profile .single_advisor_details_info p {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 13px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info p {
      font-size: 12px;
  }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
  background-color: #070a57;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
  color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
  color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
  background-color: #070a57;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
  background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
  color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
  color: #ffffff;
}

#team h1 {
  font-weight: 300;
  font-size: 48px;
}

.team-description {
  font-size: 20px;
  font-weight: 300;
}

.our-team-bg {
  background-image: url('../images/our-team-bg.png');
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

/* --- ORMOC CITY LOGO --- */

/* Horizontal rotation animation */
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Zoom in and out animation */
@keyframes zoom {
  0%,
  50% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

/* Glow animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
    border-radius: 50%; /* Initial border-radius */
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
    border-radius: 50%; /* Border-radius change during animation */
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
    border-radius: 50%; /* Return to initial border-radius */
  }
}

/* Apply the animations to the logo element */
.logo {
  transition: transform 0.5s ease-in-out; /* Transition for smooth zoom in/out */
}

.rotate-animation {
  animation: rotate 1s linear forwards;
}

.zoom-animation {
  animation: zoom 2s ease-in-out forwards;
}

.glow-animation {
  animation: glow 1s ease-in-out forwards;
}

/* --- PRINT CONTENT --- */
.print-content {
  max-width: 100%;
  margin: 0;
}

.header-print {
  line-height: 4px;
}

.application-form {
  font-size: 14px;
  line-height: 12px;
}

.inspection-report {
  font-size: 12px;
  line-height: 5px;
  font-weight: 700;
}

.signature {
  font-size: 13px;
}

/* --- MESSAGE US --- */
.message-us{
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid white;
}

.message{
  min-height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid white;
}

.message-us:hover,
.message:hover,
.message-us:focus,
.message:focus {
  border: #FF4200 solid 2px; /* Set the border color to orange */
  box-shadow: 2px 4px 8px #ffbda5;
  outline: #FF4200;
}

.message-us::placeholder,
.message::placeholder {
  font-weight: bold;
  color: gray;
}
