.sidebar {
  min-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #090C1B;
}

.sidebar .nav-link {
  padding: 10px;
}

.sidebar .dropdown-menu {
  position: static;
}

.sidebar .dropdown-toggle::after {
  display: none;
}

.sidebar .collapse {
  display: none;
}

.sidebar .show {
  display: block;
}

@media (max-width: 767.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 20px;
  }
  .sidebar .collapse {
    display: block;
  }
}

hr {
 color: #dee2e6;
 line-height: 0px;
}

/* --- NAV-ITEMS ---  */

.nav-item {
  font-size: 13px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  display: flex;
}

.nav-item i {
  margin-top: 3px;
}

.nav-item a:hover {
  background: transparent;
  border: #FF4200 1px solid;
  text-decoration: none;
  color: #fff;
}

.nav-item .nav-link-active {
  background: #FF4200;
  text-decoration: none;
  color: #fff;
}

/* --- DROPDOWN ---  */

.dropdown {
  position: relative;
  bottom: 0;
  left: 5;
  width: 200px;
}

.dropdown .color {
  background-color: #FF4200;
  color: white;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

.profile-photo {
  width: 40px;
  height: 40px;
}

.profile-name {
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding-top: 8px;
  margin-left: 10px;
}

.dropdown-fa {
  padding-top: 20px;
  margin-left: 15px;
}

.rotated {
  margin-bottom: 6px;
  transform: rotate(90deg);
}

/* --- MAINTENANCE DROPDOWN --- */

.maintenance-fa {
  padding-top: 7px;
  margin-left: 55px;
}

.rotateMaintenance {
  margin-bottom: 6px;
  transform: rotate(-90deg);
}


@media screen and (min-width: 1010px) and (max-width: 1190px) {
  .profile-name {
    margin-left: 5px;
    padding-top: 5px;
    font-size: 14px;
  }

  .profile-photo {
    width: 30px;
    height: 30px;
  }

  .dropdown-fa {
    padding-top: 14px;
    margin-left: 9px;
  }
  
  .rotated {
    margin-bottom: 10px;
    transform: rotate(90deg);
  }

  .dropdown-menu {
    width: 190px;
  }

  .maintenance-fa {
    padding-top: 6px;
    margin-left: 15px;
  }
} 



/* --- DROPDOWN MENU --- */

.dropdown-menu {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translate3d(-1px, -98px, 0px);
  width: 210px;
  border-radius: 10px;
  padding: 0;
}

.dropdown-header {
  background-color: #EBB803;
  border: 1px solid #EBB803;
  border-radius: 10px 10px 0 0;
}

.dropdown-menu a.dropdown-item {
  color: #3a3b45;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-menu a.dropdown-item i {
  margin-right: 10px;
}

.dropdown-menu a.dropdown-item:hover {
  color: #fff;
  background: #FF4200;
  text-decoration: none;
}

/* --- SIDEBAR CONTENT AREA --- */
.main-content {
  flex: 1;
  padding: 15px;
}

.title-head {
  position: relative;
  left: 175px;
  top: 8px;
}

.sidebar-btnContent {
  padding: 5px 18px;
  color: white;
  background-color: #FF4200;
  border: #FF4200 1px solid;
  text-decoration: none;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  float: right;
}

.sidebar-btnContent:hover {
  background-color: #ffc5b0;
  border: #FF4200 1px solid;
  color: #FF4200;
}

.new-button {
  position: absolute;
  top: 5px;
  right: 20px;
}

@media only screen and (min-width: 1060px) {
  .title-head {
    position: relative;
    left: 220px;
    top: 8px;
  }
} 

/* -- STATUS -- */
.status-badge {
  color: white;
  font-size: 9px;
  background-color: #0080ff;
  border-radius: 10px;
  margin-top: 5px;
  padding: 3px 7px;
}

.container {
  display: flex;
  justify-content: center;
}

/* -- TABLE'S CSS -- */
table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: collapse;
  font-size: 12px;
  border: 1px #dee2e6 solid !important;
}

table.dataTable thead>tr>th {
  background-color: rgba(255, 66, 0, 0.4) !important;
}

table > :not(caption) > * > * {
  padding: 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  border-bottom-style: solid;
}

table > :not(caption) > * > * > :first-child {
  margin-top: 0;
}

table > :not(caption) > * > * > :last-child {
  margin-bottom: 0;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
  box-shadow: none;
}

.table-striped > :not(caption) > * > *:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active > :not(caption) > * > * {
  color: var(--bs-table-active-color);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.view-data-btn, .edit-data-btn, .delete-data-btn {
  color: #fff !important;
  font-size: 10px !important;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 5px;
  padding: 4px !important;
}

.cancel-btn {
  padding: 5px 18px;
  background-color: white;
  border: #FF4200 1px solid;
  color: #FF4200;
  text-decoration: none;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  float: right;
  margin-right: 3px;
}

.cancel-btn:hover {
  color: white;
  background-color: #ff4400ad;
  border: #ffff 1px solid;
}

.nav-top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  min-height: 40px;
  box-shadow: 2px 3px #00000009;
}